<h1>Buscador de héroes <small>Marvel y DC</small></h1>
<!-- <h4>Buscando: <small>{{termino}}</small></h4> -->
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
  <div class="col.md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término: {{termino}}
    </div>
  </div>
</div>

<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let heroe_html of heroes; let i = index">
    <img class="card-img-top" [src]="heroe_html.img" [alt]="heroe_html.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe_html.nombre }}</h5>
      <p class="card-text">{{ heroe_html.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe_html.aparicion }}</small></p>
      <!-- Ver heroe mediante botón -->
      <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>

      <!-- Ruta para ver un heroe específico mediante routerLink -->
      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->
    </div>
  </div>

</div>
