<div class="container main-container">
  <h1>Demos <small>angular</small></h1>
  <hr>

  <!-- <app-ng-style>
  </app-ng-style> -->
  <!-- <app-css></app-css> -->
  <!-- <app-clases></app-clases> -->

  <!-- <p appResaltado>Hola mundo</p>
  <p [appResaltado]="'orange'">Hola mundo</p>
  <p [appResaltado]="'blue'">Hola mundo</p> -->

  <app-ng-switch></app-ng-switch>

  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quisquam maiores amet enim perspiciatis, quibusdam, nihil voluptates natus, eveniet expedita dolorem maxime cupiditate reprehenderit eius, quos similique mollitia accusantium! Molestiae.</p> -->
</div>
